// Loader Styling
.loader {
  display: block;
  margin-right: 14px;
  margin-top: 8px;
  float: left;
  font-size: 3px;
  width: 1em;
  height: 1em;
  border-radius: 50% !important;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader-circle-grey {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50% !important;
  background: #c2c2c2;
  background: -moz-linear-gradient(left, #c2c2c2 10%, rgba(194,194,194, 0) 42%);
  background: -webkit-linear-gradient(left, #c2c2c2 10%, rgba(194,194,194, 0) 42%);
  background: -o-linear-gradient(left, #c2c2c2 10%, rgba(194,194,194, 0) 42%);
  background: -ms-linear-gradient(left, #c2c2c2 10%, rgba(194,194,194, 0) 42%);
  background: linear-gradient(to right, #c2c2c2 10%, rgba(194,194,194, 0) 42%);
  position: relative;
  -webkit-animation: animation 1.4s infinite linear;
  animation: animation 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader-circle-grey:before {
  width: 50%;
  height: 50%;
  background: #c2c2c2;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader-circle-grey:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50% !important;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.loader.medium {
  font-size: 5px;
}
